@font-face {
    font-family: 'magalui';
    src: url('fonts/MagaluTextosBeta-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'magalulight';
    src: url('fonts/MagaluTextosBeta-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    color: #7800f9;
    background-color: #f4f2f5;
}

/* MENU DE NAVEGAÇÃO */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

header nav img {
    margin-bottom: 10px;
    width: calc(3.7em + 2vw);
}

header nav a {
    padding: 25px;
    font-size: calc(0.8em + 1vw);
    font-family: 'magalulight', sans-serif;;
    font-weight: 600;
    text-decoration: none;
    color: #7800f9;
    transition: 300ms;
}

header nav a:hover {
    color: #5004a1;
}
/* PARAGRAFOS ABOUT */
#about {
    font-family: 'magalulight', sans-serif;;
    font-weight: normal;
    padding: 50px;
    font-size: calc(1em + 0.5vw);
}

p:first-child {
    margin-bottom: 20px;
}
/* CENTRALIZANDO O LAYOUT GRID */
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* LAYOUT GRID */
.container-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    width: 100vh;
    padding: 45px;
}

.item-galeria {
    position: relative;
}

.item-galeria .img-galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

/* FOOTER PAGINA ABOUT */
#rodape1 {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    padding-bottom: 15px;
}
/* FOOTER PAGINA INDEX */
#rodape2 {
    text-align: center;
    width: 98vw;
    padding-bottom: 15px;
}
/* NUMERO E EMAIL */
.contato a {
    font-family: 'magalui';
    font-size: calc(0.7em + 0.5vw);
    text-decoration: none;
    color: #7800f9;
    transition: 300ms;
}

.contato a:hover {
    color: #230147;
}
/* ICONE REDES SOCIAIS */
i {
    padding: 10px;
    color: rgb(138, 134, 134);
    font-size: calc(0.7em + 1.5vw);
    transition: 300ms;
    margin-top: 15px;
}

i:hover {
    color: rgb(90, 87, 87);
}
/* RESPONSIVADE */
@media only screen and (max-width: 480px) {
    header nav img {
        width: 50px;
    }
    #about {
        font-size: 3.7vw;
        padding: 25px;
    }
    header nav a {
        padding: 10px;
        font-size: 1.1em;
    }
    p:first-child {
        margin-top: 16px;
        margin-bottom: 18px;
    }
    .container-galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 50vh;
        padding: 2px;
        margin-top: 15px;
        width: 97%;
    }
    .w-2 {
        grid-column: span 1;
    }
    #rodape2 {
        margin-top: 20px;
    }
    footer {
        margin-bottom: 30px;
    }
    .contato {
        font-size: 0.9em;
    }
    i {
        font-size: 1.6em;
    }
}